.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 30px;
}
.contactForm {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 450px;
}
.contactAddButton {
    margin: 30px;
    width: 100px;
    cursor: pointer;
}
.inputs {
    margin-top: 20px;
    width: 300px;
}
.listItem {
    display: flex;
}
.deleteButton {
    margin: auto 20px;
    width: 50px;
    height: 25px;
    border-radius: 4px;
}
